<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.pom.automation.brabblerPro.homePage.TC003_verifyAddToCartForUnauthneticatedUser"/>
      <class name="com.pom.automation.brabblerPro.homePage.TC001_VerifyLoginWithInvalidCredentials"/>
      <class name="com.pom.automation.brabblerPro.myAccountPage.TC001_verifyBackNavigation"/>
      <class name="com.pom.automation.brabblerPro.homePage.TC002_verifyRegistrationProcess"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
